<html>
  <head>
    <title>Template, yo!!</title>
    <link rel="stylesheets" src="/css/styles.css">
  </head>
  <body>
    {{{ body }}}
    <div class="chart"></div>
    <script src="/js/main.js"></script>
    
    <script id="myPartial" type="text/x-handlebars-template">
      <div>
        <p>this is my template</p>
      </div>
    </script>

  </body>
</html>
