/**********************************************/
/* General styles for the rest of the site
/* go here.
/* feel free to reorder or rearrange. Not sure
/* this is the best way to organise.
/* - Skip McBride, 11.21.16
/**********************************************/
.main-nav {
  background: #213330;
  border-bottom: 1px solid $site-highlight;
  box-shadow: 0 4px 12px mix(white, $site-shadow, 40%);

  font: 24px bold;

  ul {

    &.navbar-left {
      float: left;
    }

    &.navbar-right {
      float: right;
    }
  }

  li {
    color: $light-gray;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    margin-left: 15px;

    a {
      color: $light-gray;
    }

    a:active, a:hover,
    a:visited, a:focus {
      color: $hit-gray;
      text-decoration: none;
    }

    span {
      display: block;
      margin: 0 5px;
      width: 20px;
      height: 20px;
      background-color: #ABFF00;
      border-radius: 50%;
      box-shadow: $status-alpha 0 -1px 7px 1px, inset $status-shadow 0 -1px 9px, $status-primary 0 2px 12px;
    }

    .led-blue {
      margin: 0 auto;
      width: 24px;
      height: 24px;
      background-color: #24E0FF;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
    }
  }
}
