<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="container">
      <div id="root">
        <!-- our components will mount here -->
      </div>
    </div>
    <% include ../partials/footer %>
  </body>
</html>
