/**********************************************/
/* General styles for the rest of the site
/* go here.
/* feel free to reorder or rearrange. Not sure
/* this is the best way to organise.
/* - Skip McBride, 11.21.16
/**********************************************/
.main-nav {
  background: #213330;
  border-bottom: 1px solid $site-highlight;
  box-shadow: 0 4px 12px mix(white, $site-shadow, 40%);

  font: 24px bold;

  ul {

    &.navbar-left {
      float: left;
    }

    &.navbar-right {
      float: right;
    }
  }

  li {
    color: $light-gray;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    margin-left: 15px;

    div.led {
      border-radius: 50%;
      height: 20px;
      float: right;
      margin: 10px 10px 0;
      width: 20px;
    }

    .led-green {
      background-color: $green-light;
      box-shadow: $shadow-alpha 0 -1px 7px 1px, inset $green-shadow 0 -1px 9px, $green-primary 0 2px 12px;
    }

    .led-blue {
      background-color: $blue-light;
      box-shadow: $shadow-alpha 0 -1px 7px 1px, inset $blue-shadow 0 -1px 9px, $blue-primary 0 2px 14px;
    }

    .led-red {
      background-color: $red-light;
      box-shadow: $shadow-alpha 0 -1px 7px 1px, inset $red-shadow 0 -1px 9px, $red-alpha 0 2px 12px;
      animation: blinkRed 0.5s infinite;
    }

    @keyframes blinkRed {
      from { background-color: $red-light; }
      50% { background-color: $red-primary; box-shadow: $shadow-alpha 0 -1px 7px 1px, inset $red-shadow 0 -1px 9px, $red-alpha 0 2px 0; }
      to { background-color: $red-light; }
    }

    .led-yellow {
      background-color: $yellow-primary;
      box-shadow: $shadow-alpha 0 -1px 7px 1px, inset $yellow-shadow 0 -1px 9px, $yellow-primary 0 2px 12px;
      animation: blinkYellow 1s infinite;
    }

    @keyframes blinkYellow {
      from { background-color: $yellow-primary; }
      50% { background-color: $yellow-dark; box-shadow: $shadow-alpha 0 -1px 7px 1px, inset $yellow-shadow 0 -1px 9px, $yellow-primary 0 2px 0; }
      to { background-color: $yellow-primary; }
    }
  }
}
