/**********************************************/
/* Custom color variables are here to keep them
/* seperate from the BS files as those are.
/* regenerated every time gulp is run from start.
/*
/* - Skip McBride, 11.21.16
/**********************************************/

//  Our primary colors will go here...
$site-primary: #0a1a17;
$site-accent: #399988;
$site-highlight: #4ac4ac;
$black: #000000;
$white: #FFFFFF;
$light-gray: #D3D3D3;
$silver-gray: #cccccc;
$blue-base: #0080FF;
$blue-darkgray: #4682B4;
$pink: #FFC0CB;
$red: #FF0000;
