.chart {
    background-color: white;
}

circle {
  stroke: none;
  stroke-width: 0;
  fill:   limegreen;
}

.chart rect {
	stroke: white;
    fill: steelblue;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: black;
}

.y.axis line {
    stroke: black;
}

.axis text {
    font-size: 12px;
}

.safety .out-hum {
  fill: green;
  opacity: .1;
}
